2
<div class="page-width page-content"> 
  {%- render 'breadcrumbs' -%} 
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header> 
  {% section 'hunter_shaye_section' %} 
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.js"></script>

<script type="text/javascript"> 
  $(document).ready(function ($) {
    $('.video').magnificPopup({
      type: 'image',
      gallery: {
        enabled: true
      }
    }); 

  }); 
</script>
